{% extends "base.html" %}
{% block title %}EnzymeFisher - {% endblock %}
{% block content %}
<div class="row example mb-3" ></div>
<br><br><br>
<h4 class="text-center">Contact</h4>
<br><br>

<div style="text-align: center">
    <p>Email: yuqi.yu@manchester.ac.uk</p>
<!--    <a href="https://www.scruttonlab.com/home/nss" >Our Lab: Scrutton Lab</a>-->
<!--    <br><br>-->
    <p>Address: Manchester Institute of Biotechnology<br>The University of Manchester<br>131 Princess Street
    Manchester<br> United Kingdom</p>
</div>




{% endblock %}