{% extends "base_Sigfinder.html" %}
{% block title %}SignatureFinder - {% endblock %}
{% block content %}


<div class="row example mb-5" ></div>
<br><br>
<div class="row text-center"  >
    <div style="width:1600px; margin:0 auto;">
        <a href="{{ url_for('main_site.Sigfinder_home') }}">
            <image class="img-fluid center" src="{{ url_for('static', filename='images/signature_home.png')}}" />
        </a>
    </div>
</div>
<p class="text-center font-italic" style="color:red;">*you need to login in to use the service</p>
<!--<div class="row example mb-5"></div>-->
<div class="container">
    <div class="col ml-md-auto">

        <p class=" text-justify"><b>SignatureFinder</b> reveal the signature sequence for binding your ligand of interest by sequence alignment, phylogenetic
            tree calculation, three dimensional model construction, molecular docking with <b> one-click process</b>.</p>
        <p></p>
        <p>Any questions and advice would be welcomed!<br></p>
        <p class="text-center"><a class=" btn btn-dark btn-lg" href="{{ url_for('workflow.SignatureFinder_form') }}" role="button">Start &raquo;</a></p>

    </div>
</div>

<div class="row example mb-5"></div>
<div class="fixed-bottom text-center text-light bg-dark">Email: yuqi.yu@manchester.ac.uk<br>Address: Manchester Institute of Biotechnology<br>The University of Manchester<br>131 Princess Street
Manchester M1 7DN </div>
{% endblock %}

