{% extends "base.html" %}
{% set active_page = "" %}

{% block content %}

    <div class="container-fluid mt-5">
        <h2 class="text-center">Start a new workflow</h2>
        <h6 class="text-center text-secondary"></h6>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="job_name" class="text-secondary"><small>Workflow name</small></label>
                        {{ form.name(class="form-control")}}
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn-lg btn-block btn-success") }}
                    </div>

                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
