{% extends "base.html" %}
{% set active_page = "" %}

{% block head %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-form my-5">
                    <div class="card-body">
                        <h3 class="my-3 text-center">Panel Design</h3>
                        <p><strong>Reminder: </strong><br>This page is refreshed every 30 seconds. <br> please bookmark this page and check back later.</p>

                        <p><strong>UUID: </strong>{{folder_id}}</p>
                        <p><strong>Job name: </strong>{{job_name}}</p>
                        <p><strong>Status: </strong>{{status}}</p>
                        <p><strong>notes: </strong>{{notes}}</p>
                        <p><strong>Files: </strong></p>
                        <div class="mx-5">
                            {% for file in files %}
                                <a href="{{url_for('workflow.download_file', folder_id=folder_id, file_name=file)}}">{{file}}</a>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}